Script to make a file with sattelite galaxys from the LV_sats.txt to download. 
Only galaxys that are sattelite of host that has photometry done by DECalS are put in the file.
To find the galaxys angular radius, it's assumed that their distances is the same as their hosts.

In [99]:
import pandas as pd
import numpy as np

In [100]:
host_df = pd.read_csv("./tables/ELVES_host.csv", sep=" ")
host_df

,Name,Dist(Mpc),Nconfirmed(unconfirmed),rcover(kpc),Detection,Confirmation,Photometry
0,MW,0.00,7(0),300,–,–,M12
1,M31,0.78,13(0),300,–,–,M12
2,NGC1023,10.40,12(3),300,CFHT/MegaCam,CFHT/MegaCam,CFHT/MegaCam
3,NGC2903,9.00,6(1),300,"CFHT/MegaCam,DECaLS","CFHT/MegaCam,Gemini","CFHT/MegaCam,DECaLS"
4,NGC4258,7.20,5(0),150,CFHT/MegaCam,CFHT/MegaCam,CFHT/MegaCam
5,NGC4565,11.90,3(5),150,CFHT/MegaCam,CFHT/MegaCam,CFHT/MegaCam
6,NGC4631,7.40,10(0),200,DECaLS,"CFHT/MegaCam,Gemini","CFHT/MegaCam,DECaLS"
7,M51,8.58,0(2),150,CFHT/MegaCam,CFHT/MegaCam,CFHT/MegaCam
8,M104,9.55,11(2),150,CFHT/MegaCam,CFHT/MegaCam,CFHT/MegaCam
9,NGC891,9.12,3(0),200,CFHT/MegaCam,CFHT/MegaCam,CFHT/MegaCam
10,NGC6744,8.95,5(6),200,DECam,DECam,DECam
11,M101,6.50,7(0),300,DECaLS,"B19,Subaru/HSC","CFHT/MegaCam,DECaLS"
12,M94,4.20,3(3),200,DECaLS,S18,DECaLS
13,NGC253,3.56,3(0),300,DECaLS,DECaLS,DECaLS
14,M64,5.30,8(2),300,DECaLS,DECaLS/HSC,DECaLS
15,NGC5055,8.87,8(0),200,DECaLS,Subaru/HSC,DECaLS
16,NGC4517,8.34,7(0),300,DECaLS,Subaru/HSC,DECaLS
17,NGC3627,10.50,11(5),200,DECaLS,"CFHT/MegaCam,Subaru/HSC",DECaLS
18,NGC3379,10.70,29(16),300,DECaLS,"CFHT/MegaCam,Subaru/HSC",DECaLS
19,M81,3.61,19(0),300,C13,C13,DECaLS
20,CENA,3.66,15(0),200,"M19,C19","M19,C19","DECam,M17"
21,NGC628,9.77,13(1),300,DECaLS,Gemini,DECaLS
22,NGC3115,10.20,14(4),300,DECaLS,Gemini,DECaLS
23,NGC5236,4.70,11(0),300,M15,M18/DECam,DECam

In [101]:
# Create a list of host (valid_host) that have photometry done by an item in the valid_detections list
valid_detection = ("DECaLS",)
valid_hosts = []
for host_name, detection in zip(host_df["Name"], host_df["Photometry"]):
    for val_dec in valid_detection:
        if val_dec in detection:
            print(val_dec, detection)
            valid_hosts.append(host_name)
            break 
    
# Load the file with sat_galaxys into a pandas dataframe. 
# Only put in the dataframe galaxys that are satellites of valid hosts.
sat_df = pd.DataFrame({})
with open("./tables/LV_sats.txt", "r") as sat_file:
    columns = sat_file.readline().split()
    
    rows_list= []
    for line in sat_file.readlines():
        row_i = line.split()
        if row_i[1] in valid_hosts: # Don't include galaxys tha aren't satellites of valid hosts 
            rows_list.append(row_i)

sat_df = pd.DataFrame(rows_list, columns=columns)
print(sat_df.head(5))

DECaLS CFHT/MegaCam,DECaLS
DECaLS CFHT/MegaCam,DECaLS
DECaLS CFHT/MegaCam,DECaLS
DECaLS DECaLS
DECaLS DECaLS
DECaLS DECaLS
DECaLS DECaLS
DECaLS DECaLS
DECaLS DECaLS
DECaLS DECaLS
DECaLS DECaLS
DECaLS DECaLS
DECaLS DECaLS
          Name     Host       RA     DEC     M_g     M_V M_V_err logM*  \
0  dw0932p2127  NGC2903  143.203  21.466  -14.03  -14.37    0.08  7.87
1  dw0930p1959  NGC2903  142.554  19.991  -13.12  -13.34    0.09  7.13
2  dw0933p2030  NGC2903  143.307  20.515  -12.39  -12.65    0.10  6.99
3  dw0936p2135  NGC2903  144.089  21.599  -11.93  -12.19    0.10  6.78
4  dw0930p2143  NGC2903  142.667  21.724  -10.81  -10.95    0.09  5.98

  logM*_err  mu_0V mu_0V_err    r_e r_e_err   ell ell_err   ETG? Filts  \
0      0.13  22.38      0.13  728.9    30.3  0.14    0.02   True    gr
1      0.13  23.61      0.11  556.5    32.0  0.07    0.02  False    gr
2      0.13  22.53      0.12  443.9    28.3  0.30    0.03   True    gr
3      0.13  22.74      0.13  341.4    23.6  0.20    0.03  False    gr
4      0.12  23.30      0.06  270.5    21.5  0.54    0.02  False    gr

      tel bad_photo?
0    CFHT       None
1  DECALS       None
2  DECALS       None
3  DECALS       None
4    CFHT       None

In [102]:
# Find all different satellites hosts
sat_hosts = []
for host_i in sat_df["Host"]:
    if host_i not in sat_hosts:
        sat_hosts.append(host_i)
print(f"Sat_host: {sat_hosts}")

# check if any satellite host is not in the host dataframe
host_df_names = list(host_df["Name"])
for sat_host_i in sat_hosts:
    if sat_host_i not in host_df_names:
        print(f"{sat_host_i} is not in the host_df")

Sat_host: ['NGC2903', 'NGC4631', 'M101', 'M94', 'NGC253', 'M64', 'NGC5055', 'NGC4517', 'NGC3627', 'NGC3379', 'M81', 'NGC628', 'NGC3115']

In [103]:
# Calculate satellites distance based in their host distance. 
# TODO: This can be done using pandas index method
host_df["Dist(Mpc)"] = host_df["Dist(Mpc)"].astype(float)

sat_dist = []
for host in sat_df["Host"]:
    idx = host_df_names.index(host)
    sat_dist.append(host_df.loc[idx, "Dist(Mpc)"])

In [104]:
# Calculate sattelite angular radius in arcsec
sat_df["r_e"] = sat_df["r_e"].astype(float)

sat_angular_radius = []
for r_eff, dist in zip(sat_df["r_e"], sat_dist):
    ang_r = (r_eff/(dist * 1e6)) * (3600*180)/(np.pi)
    sat_angular_radius.append(ang_r)

sat_angular_radius[:5]

[16.705157474834284,
 12.754040519612127,
 10.173438610342897,
 7.824311650306522,
 6.199403343315507]

In [105]:
# Append distance and angular radius to sat_df
sat_df.loc[:, "Dist(Mpc)"] = sat_dist
sat_df.loc[:, "r_ang(arcsec)"] = sat_angular_radius

sat_df.head(5)

,Name,Host,RA,DEC,M_g,M_V,M_V_err,logM*,logM*_err,mu_0V,...,r_e,r_e_err,ell,ell_err,ETG?,Filts,tel,bad_photo?,Dist(Mpc),r_ang(arcsec)
0,dw0932p2127,NGC2903,143.203,21.466,-14.03,-14.37,0.08,7.87,0.13,22.38,...,728.9,30.3,0.14,0.02,True,gr,CFHT,None,9.0,16.705157
1,dw0930p1959,NGC2903,142.554,19.991,-13.12,-13.34,0.09,7.13,0.13,23.61,...,556.5,32.0,0.07,0.02,False,gr,DECALS,None,9.0,12.754041
2,dw0933p2030,NGC2903,143.307,20.515,-12.39,-12.65,0.10,6.99,0.13,22.53,...,443.9,28.3,0.30,0.03,True,gr,DECALS,None,9.0,10.173439
3,dw0936p2135,NGC2903,144.089,21.599,-11.93,-12.19,0.10,6.78,0.13,22.74,...,341.4,23.6,0.20,0.03,False,gr,DECALS,None,9.0,7.824312
4,dw0930p2143,NGC2903,142.667,21.724,-10.81,-10.95,0.09,5.98,0.12,23.30,...,270.5,21.5,0.54,0.02,False,gr,CFHT,None,9.0,6.199403

In [106]:
# Create a csv with galaxys coords and their respective pixelscale
sat_to_download = []
for ra, dc, r_ang, host in zip(sat_df["RA"], sat_df["DEC"], sat_df["r_ang(arcsec)"], sat_df["Host"]):
    ps = 8 * r_ang / (256) # All the images downloaded have 256 pixel x 256 pixel 
    sat_to_download.append((ra, dc, ps, host, 0)) # The last element it's the labal, witch currently is not been used.

sat_to_download = pd.DataFrame(sat_to_download, columns=("ra", "dec", "ps", "host", "label"))
sat_to_download.to_csv("./sat_to_download.csv")

sat_to_download.head(10)

        ra     dec        ps     host  label
0  143.203  21.466  0.522036  NGC2903      0
1  142.554  19.991  0.398564  NGC2903      0
2  143.307  20.515  0.317920  NGC2903      0
3  144.089  21.599  0.244510  NGC2903      0
4  142.667  21.724  0.193731  NGC2903      0
5  143.099  19.875  0.221305  NGC2903      0
6  189.771  32.505  0.698670  NGC4631      0
7  190.631  31.969  0.218895  NGC4631      0
8  190.221  32.282  0.272465  NGC4631      0
9  190.853  32.482  0.500593  NGC4631      0

In [107]:
# Generate a .csv file with random galaxy per host in the form to download. 
test_sample = []
for host in sat_hosts:
    test_i = sat_to_download.loc[sat_to_download["host"] == host].sample(n=1).iloc[0]
    test_sample.append(test_i)

test_sample = pd.DataFrame(test_sample)
test_sample.to_csv("teste.csv")

test_sample

          ra      dec        ps     host  label
5    143.099   19.875  0.221305  NGC2903      0
7    190.631   31.969  0.218895  NGC4631      0
18   210.938   53.944  0.426909     M101      0
23   193.760   40.589  0.797741      M94      0
27    12.454  -21.016  1.135434   NGC253      0
34   195.674   21.998  0.555188      M64      0
43   198.874   41.502  0.627864  NGC5055      0
47   189.176   -0.430  0.309845  NGC4517      0
52   170.731   13.441  0.562133  NGC3627      0
67   162.838   12.849  0.520060  NGC3379      0
98   146.196   67.439  1.820708      M81      0
118   24.416   16.132  0.322751   NGC628      0
131  151.158   -6.958  0.451141  NGC3115      0